.lgBox {
    max-width: 800px;
    margin: 70px auto 0;
    width: 100%;
    box-shadow: 0 0 30px 0px rgb(0 0 0 / 7%);
} 
.lgBox .signupWrap .signupLeft {
    width: 55%;
    background: url(../images/login.jpg) no-repeat center center;
    background-size: cover;
    text-align: center;
}
.lgBox .signupWrap .signupLeft h3 {
    font-size: 34px;
    color: #fff;
    padding-top: 130px;
    font-family: 'S-CoreDream';
    line-height: 1;
}
.signup {
    width: 45%;
    max-width: 380px;
    margin: 0 auto;
    padding: 30px 10px;
}
.signup h3 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px;
}
.signup .formBox {
    width: 93%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.signup .formBox .borderform {
    border: solid 1px #ddd;
    padding: 5px;
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 10px;
}
.signup .formBox .btn_signup {
    background: #222222;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    margin: 10px 0px 20px;
}
.signup span {
    display: block;
    text-align: center;
    font-size: 13px;
}
.signup .snsLogin {
    width: 80%;
    margin: 10px auto 20px;
    display: flex;
    max-width: 300px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.signup .snsLogin a {
    margin: 0px 5px;
    display: block;
    text-indent: -9999px;
    font-size: 0;
    width: 40px;
    border-radius: 100px;
    height: 40px;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    filter: grayscale(100%) opacity(0.5);
}
.signup .toLogin span a {
    color: #222222;
    font-weight: bold;
}
.btn_signup {
    text-align: center;
    cursor: pointer;
    user-select: none;
}