<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<mappers>
		<mapper resource="mybatis/mappers/mypage.xml"/>
		<mapper resource="mybatis/mappers/subpage.xml"/>
		<mapper resource="mybatis/mappers/funding.xml"/>
		<mapper resource="mybatis/mappers/artistapply.xml"/>
		<mapper resource="mybatis/mappers/artistworld.xml"/>
		<mapper resource="mybatis/mappers/artist.xml"/>
		<mapper resource="mybatis/mappers/work.xml"/>
		<mapper resource="mybatis/mappers/workapply.xml"/>
		<mapper resource="mybatis/mappers/store.xml"/>
	</mappers>
</configuration>

